{% extends 'includes/struct.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-lg-8">
                <h3>Gym: {{ gym.name }} - {{ gym.base_company.company_name }}</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details"
                                   role="tab" aria-controls="details" aria-selected="true">Details</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="assortments-tab" data-toggle="tab" href="#assortments"
                                   role="tab" aria-controls="assortments" aria-selected="false">Assortments</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="opinions-tab" data-toggle="tab" href="#opinions" role="tab"
                                   aria-controls="opinions" aria-selected="false">Opinions</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-3">
                            <div class="tab-pane fade show active" id="details" role="tabpanel"
                                 aria-labelledby="details-tab">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if gym.image %}
                                            <img src="{{ gym.image.url }}" class="img-fluid rounded"
                                                 alt="{{ gym.name }}" style="max-width: 300px;">
                                        {% else %}
                                            <img src="http://snapbuilder.com/code_snippet_generator/image_placeholder_generator/300x300/808080/DDDDDD/Blank"
                                                 class="img-fluid rounded"
                                                 alt="Placeholder Image">
                                        {% endif %}
                                    </div>

                                    <div class="col-md-8">
                                        <h2>{{ gym.name }}</h2>
                                        <p><strong>Base Company:</strong> {{ gym.base_company.company_name }}</p>
                                        <p><strong>Address:</strong> {{ gym.address }}</p>
                                        <p><strong>Description:</strong> {{ gym.description }}</p>
                                        <p><strong>Opening Hours:</strong> {{ gym.opening_time_from }}
                                            - {{ gym.opening_time_to }}</p>


                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="promotionsCheckbox" {% if promotions %} checked {% endif %}>
                                            <label class="form-check-label" for="promotionsCheckbox">
                                                I agree to participate in promotions
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="newsletterCheckbox" {% if newsletter %} checked {% endif %}>
                                            <label class="form-check-label" for="newsletterCheckbox">
                                                Sign up for the newsletter
                                            </label>
                                        </div>
                                    </div>
                                    <form method="post" action="{% url 'buy_gym_ticket_as_client' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="ticket_type" class="mr-2">Ticket Type:</label>
                                                    <select id="ticket_type" class="form-control mr-2"
                                                            name="ticket_type">
                                                        {% for pricing in gym.pricing.all %}
                                                            <option value="{{ pricing.name }}"
                                                                    data-price="{{ pricing.price }}">{{ pricing.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="duration" class="mr-2">Duration (months):</label>
                                                    <select id="duration" class="form-control mr-2" name="duration">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="4">4</option>
                                                        <option value="6">6</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="total_price" class="mr-2">Total Price:</label>
                                                    <input type="text" id="total_price" class="form-control" readonly>

                                                </div>
                                                <div class="col">
                                                    <input type="hidden" name="gym_id" value="{{ gym.id }}">
                                                    <button type="submit" class="btn btn-success form-control mt-4">
                                                        Buy Ticket
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row mt-4"><h4>Additional information</h4></div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if gym.pricing.all %}
                                            <table class="table table-striped">
                                                <tbody>
                                                {% for pricing in gym.pricing.all %}
                                                    <tr>
                                                        <td>{{ pricing.name }}</td>
                                                        <td>{{ pricing.price }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <h5>There is no pricing info</h5>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <p><strong>Rating:</strong> {{ gym.average_rating }}</p>
                                        <p><strong>Number of comments:</strong> {{ gym.ratings.count }}</p>
                                        <p><strong>Number of clients:</strong> TODO</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="assortments" role="tabpanel"
                                 aria-labelledby="assortments-tab">
                                aaa
                            </div>
                            <div class="tab-pane fade" id="opinions" role="tabpanel" aria-labelledby="opinions-tab">
                                <form method="post" action="{% url 'create_rating' gym_id=gym.id %}"
                                      onsubmit="return validateForm()">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="opinion">Opinion:</label>
                                        <textarea class="form-control" id="opinion" rows="3" name="comment"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="rating">Rating:</label>
                                        <div id="rating" class="rating">
                                            <span class="star fa fa-star" data-value="1"></span>
                                            <span class="star fa fa-star" data-value="2"></span>
                                            <span class="star fa fa-star" data-value="3"></span>
                                            <span class="star fa fa-star" data-value="4"></span>
                                            <span class="star fa fa-star" data-value="5"></span>
                                        </div>
                                        <input type="hidden" name="rating" id="rating_stars" value="0">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card" style="max-height: 900px; overflow-y: auto;">
                                            <div class="card-body">
                                                <h5 class="card-title">Ratings:</h5>
                                                {% for rating in ratings %}
                                                    <div class="card mb-3">
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between">
                                                                <h6 class="mb-2 {% if rating.user == request.user %} font-weight-bold text-success {% endif %}">{{ rating.user.username }}
                                                                    - {{ rating.score }}/5</h6>
                                                                <p class="card-text"><small
                                                                        class="text-muted">{{ rating.created_at }}</small>
                                                                </p>
                                                            </div>
                                                            <p class="card-text">{{ rating.comment }}</p>
                                                            {% if rating.user == request.user %}
                                                                <form method="post"
                                                                      action="{% url 'delete_rating' rating_id=rating.id gym_id=gym.id %}"
                                                                      class="d-inline">
                                                                    {% csrf_token %}
                                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                                        Delete
                                                                    </button>
                                                                </form>
                                                            {% endif %}

                                                            <form method="post"
                                                                  action="{% url 'create_response' gym_id=gym.id rating_id=rating.id %}">
                                                                {% csrf_token %}
                                                                <div class="form-group">
                                                                    <textarea class="form-control" rows="1"
                                                                              name="comment"
                                                                              placeholder="Write a response"></textarea>
                                                                </div>
                                                                <button type="submit"
                                                                        class="btn btn-secondary btn-sm mt-4">Respond
                                                                </button>
                                                            </form>

                                                            {% include "crm/gyms/gym_opinion_responses.html" with responses=rating.responses.all parent_id=rating.id gym=gym %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ticket_typeSelect = document.getElementById('ticket_type');
            const durationSelect = document.getElementById('duration');
            const total_priceInput = document.getElementById('total_price');

            function calculatetotal_price() {
                const selectedOption = ticket_typeSelect.options[ticket_typeSelect.selectedIndex];
                const ticketPrice = parseFloat(selectedOption.getAttribute('data-price'));
                const duration = parseInt(durationSelect.value);
                const total_price = ticketPrice * duration;
                total_priceInput.value = total_price.toFixed(2);
            }

            ticket_typeSelect.addEventListener('change', calculatetotal_price);
            durationSelect.addEventListener('change', calculatetotal_price);

            calculatetotal_price();
        });

        function validateForm() {
            var rating = document.getElementById('rating_stars').value;
            if (!rating || rating === "0") {
                alert("You need to set rating!");
                return false;
            }
            return true;
        }

        document.addEventListener('DOMContentLoaded', function () {
            const stars = document.querySelectorAll('.star');

            stars.forEach(function (star) {
                star.addEventListener('click', function () {
                    const value = parseInt(star.getAttribute('data-value'));
                    document.getElementById('rating_stars').value = value;
                    console.log(value);
                    stars.forEach(function (s) {
                        if (parseInt(s.getAttribute('data-value')) <= value) {
                            s.classList.add('text-warning');
                        } else {
                            s.classList.remove('text-warning');
                        }
                    });
                });
            });
        });

        $(document).ready(function () {
            $('#promotionsCheckbox').on('change', function () {
                $.ajax({
                    url: "{% url 'change_promotion_agree' gym_id=gym.id %}",
                    method: "POST",
                    data: {
                        'status': $(this).is(':checked'),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                });
            });

            $('#newsletterCheckbox').on('change', function () {
                $.ajax({
                    url: "{% url 'change_newsletter_agree' gym.id %}",
                    method: "POST",
                    data: {
                        'status': $(this).is(':checked'),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                });
            });
        });
    </script>

{% endblock content %}