<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/head.html' %}
    {% block extrahead %}{% endblock extrahead %}
    {% block extrastyle %}{% endblock extrastyle %}
</head>

<body class="{% block body %}{% endblock body %} bg-secondary">

<main class="main-content position-relative max-height-vh-100 h-100">
    {% block header %}
        {% include 'includes/top-bar.html' %}
    {% endblock header %}
    <div class="container-fluid">
        <div class="row">
            {% if user.is_authenticated %}
                {% block sidebar %}
                    {% include 'includes/side-bar.html' %}
                {% endblock sidebar %}
            {% endif %}

            <main class="ms-sm-auto px-md-4 {% if user.is_authenticated %} col-9 {% else %}col-12 {% endif %}">
                {% for push in request.unread_push %}
                    <div class="push-notification alert alert-info" role="alert">
                        <h4>{{ push.campaign.title }} - {{ push.campaign.gym.name }}</h4>
                        <p>{{ push.campaign.message }}</p>
                        <small>Received: {{ push.campaign.created_at }}</small>
                        <button class="btn btn-sm btn-primary mt-2 mark-as-read" data-id="{{ push.id }}">Mark as read
                        </button>
                    </div>
                {% endfor %}
                {% block content %}{% endblock content %}
            </main>
        </div>
    </div>
    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock footer %}
</main>

<script>
    $(document).ready(function () {
        $('.mark-as-read').click(function () {
            var button = $(this);
            var notificationId = button.data('id');

            $.ajax({
                url: "{% url 'mark_push_as_read' push_id=0 %}".replace('0', notificationId),
                method: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    button.closest('.push-notification').remove();
                }
            });
        });
    });
</script>
{% block extra_js %}{% endblock extra_js %}

</body>
</html>