<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/head.html' %}
    {% block extrahead %}{% endblock extrahead %}
    {% block extrastyle %}{% endblock extrastyle %}
</head>

<body class="{% block body %}{% endblock body %} bg-secondary">

<main class="main-content position-relative max-height-vh-100 h-100">
    {% block header %}
        {% include 'includes/top-bar.html' %}
    {% endblock header %}
    <div class="container-fluid">
        <div class="row">
            {% if user.is_authenticated %}
                {% block sidebar %}
                    {% include 'includes/side-bar.html' %}
                {% endblock sidebar %}
            {% endif %}

            <main class="ms-sm-auto px-md-4 {% if user.is_authenticated %} col-9 {% else %}col-12 {% endif %}">
                {% block content %}{% endblock content %}
            </main>
        </div>
    </div>
    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock footer %}
</main>

{% block extra_js %}{% endblock extra_js %}

</body>
</html>