<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" data-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav>
            <ul>
                {% if not request.user.is_authenticated %}
                    <li class="breadcrumb-item text-sm text-light">You are not logged!</li>
                {% else %}
                    <li class="breadcrumb-item text-sm text-light">You are logged as: {{ request.user.role }}!</li>
                {% endif %}
            </ul>
            <h6 class="font-weight-bolder mb-0">{{ segment }}</h6>
        </nav>
        <div></div>
        <div class="mt-sm-0 mt-2">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li class="nav-item d-flex align-items-center me-3">
                            <a href="{% url 'admin:password_change' %}"
                               class="nav-link text-body font-weight-bold px-0">
                                <i class="fa fa-edit me-sm-1"></i>
                                <span class="d-sm-inline d-none">Change Password</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <form method="post" action="{% url 'admin:logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="nav-link text-body font-weight-bold px-0">
                                    <i class="fas fa-sign-out-alt me-sm-1"></i>
                                    <span class="d-sm-inline d-none">LOGOUT</span>
                                </button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item d-flex align-items-center me-3">
                            <a href="{% url 'change_password' %}" class="nav-link text-body font-weight-bold px-0">
                                <i class="fa fa-edit me-sm-1"></i>
                                <span class="d-sm-inline d-none">Change Password</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a href="{% url 'logout' %}" class="nav-link text-body font-weight-bold px-0">
                                <i class="fas fa-sign-out-alt me-sm-1"></i>
                                <span class="d-sm-inline d-none">Logout</span>
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item d-flex align-items-center">
                        <a href="{% url 'login' %}" class="nav-link text-body font-weight-bold px-0">
                            <i class="fa fa-user me-sm-1"></i>
                            <span class="d-sm-inline d-none">Sign In</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>