{% extends 'includes/struct.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-lg-8">
                <h3>Dashboard</h3>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <label for="gymSelect">Select Gym:</label>
                        <select id="gymSelect" class="form-control">
                            {% for gym in gyms %}
                                <option value="{{ gym.id }}">{{ gym.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="yearSelect">Select Year:</label>
                        <select id="yearSelect" class="form-control">
                            <option value="2024" {% if year == current_year %}selected{% endif %}>2024</option>
                            <option value="2025" {% if year == current_year %}selected{% endif %}>2025</option>
                            <option value="2026" {% if year == current_year %}selected{% endif %}>2026</option>
                            <option value="2027" {% if year == current_year %}selected{% endif %}>2027</option>
                            <option value="2028" {% if year == current_year %}selected{% endif %}>2028</option>
                            <option value="2029" {% if year == current_year %}selected{% endif %}>2029</option>
                            <option value="2030" {% if year == current_year %}selected{% endif %}>2030</option>
                            <option value="2031" {% if year == current_year %}selected{% endif %}>2031</option>
                            <option value="2032" {% if year == current_year %}selected{% endif %}>2032</option>
                            <option value="2033" {% if year == current_year %}selected{% endif %}>2033</option>
                            <option value="2034" {% if year == current_year %}selected{% endif %}>2034</option>
                        </select>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ticket_number-tab" data-toggle="tab" href="#ticket_number"
                       role="tab" aria-controls="ticket_number" aria-selected="true">Ticket number</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="clients-tab" data-toggle="tab" href="#clients"
                       role="tab" aria-controls="clients" aria-selected="false">Clients</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="earnings-tab" data-toggle="tab" href="#earnings"
                       role="tab" aria-controls="earnings" aria-selected="false">Earnings</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="other-tab" data-toggle="tab" href="#other"
                       role="tab" aria-controls="other" aria-selected="false">Other</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="ticket_number" role="tabpanel"
                     aria-labelledby="ticket_number-tab">
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <canvas id="ticketsChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="clients" role="tabpanel"
                     aria-labelledby="clients-tab">
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <canvas id="clientsChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="earnings" role="tabpanel"
                     aria-labelledby="earnings-tab">
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <canvas id="earningsChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="other" role="tabpanel"
                     aria-labelledby="other-tab">
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <canvas id="otherChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const gymSelect = document.getElementById('gymSelect');
                const yearSelect = document.getElementById('yearSelect');
                const ctx = document.getElementById('ticketsChart').getContext('2d');

                let ticketsChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [],
                        datasets: [{
                            label: 'Active tickets',
                            data: [],
                            borderWidth: 1
                        }, {
                            label: 'Purchased tickets',
                            data: [],
                            borderWidth: 1
                        }, {
                            label: 'Tickets activations',
                            data: [],
                            yAxisID: 'activations',
                            borderWidth: 3,
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                            },
                            activations: {
                                position: 'right',
                                beginAtZero: true,
                            },
                        }
                    }
                });

                let clientsChart = new Chart(document.getElementById('clientsChart'), {
                    type: 'bar',
                    data: {
                        labels: [],
                        datasets: [{
                            label: 'New Clients',
                            data: [],
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                let earningsChart = new Chart(document.getElementById('earningsChart'), {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            label: 'Earnings',
                            data: [],
                            fill: false,
                            tension: 0.1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                function updateChart() {
                    $.ajax({
                        url: "{% url 'get_dashboard_data' gym_id=0 %}".replace('0', parseInt(gymSelect.value)),
                        method: "POST",
                        data: {
                            year: parseInt(yearSelect.value),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (data) {
                            if (data.error) {
                                alert(data.error);
                                return;
                            }
                            ticketsChart.data.labels = data.labels;
                            ticketsChart.data.datasets[0].data = data.active_tickets;
                            ticketsChart.data.datasets[1].data = data.purchased_tickets;
                            ticketsChart.data.datasets[2].data = data.tickets_usage;
                            ticketsChart.update();

                            clientsChart.data.labels = data.labels;
                            clientsChart.data.datasets[0].data = data.new_clients;
                            clientsChart.update();

                            earningsChart.data.labels = data.labels;
                            earningsChart.data.datasets[0].data = data.earnings;
                            earningsChart.update();
                        }
                    });
                }

                gymSelect.addEventListener('change', updateChart);
                yearSelect.addEventListener('change', updateChart);
                updateChart();

            })
        </script>
{% endblock content %}