{% extends 'includes/struct.html' %}
{% load static %}

{% block content %}
    <div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="responseModalLabel">Ticket Check Result</h5>
                </div>
                <div class="modal-body" id="responseModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-lg-8">
                <h3>Gym tickets: {{ gym.name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="checkTicketCode" class="form-label">Check client ticket</label>
                <div class="input-group">
                    <input type="text" id="checkTicketCode" class="form-control" placeholder="Enter ticket code">
                    <button id="checkTicketBtn" class="btn btn-primary">Check</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <form method="post" action="{% url 'buy_gym_ticket_as_emp' gym_id=gym_id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="username" class="mr-2">Username:</label>
                                <input type="text" id="username" class="form-control" name="username" autocomplete="off" required>

                            </div>
                            <div class="col">
                                <label for="ticket_type" class="mr-2">Ticket Type:</label>
                                <select id="ticket_type" class="form-control mr-2" name="ticket_type">
                                    {% for pricing in gym.pricing.all %}
                                        <option value="{{ pricing.name }}"
                                                data-price="{{ pricing.price }}">{{ pricing.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <label for="duration" class="mr-2">Duration (months):</label>
                                <select id="duration" class="form-control mr-2" name="duration">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="total_price" class="mr-2">Total Price:</label>
                                <input type="text" id="total_price" class="form-control" readonly>
                            </div>
                            <div class="col">
                                <input type="hidden" name="gym_id" value="{{ gym.id }}">
                                <button type="submit" class="btn btn-success form-control mt-4">
                                    Buy Ticket
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="max-height: 900px; overflow-y: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Tickets:</h5>
                        <table id="ticketsTable" class="display">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Client username</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Valid Until</th>
                                <th>Time Remaining</th>
                                <th>Usages</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ticket in tickets %}
                                <tr>
                                    <td>{{ ticket.ticket_type }}</td>
                                    <td>{{ ticket.user.username }}</td>
                                    <td>{{ ticket.user.first_name }}</td>
                                    <td>{{ ticket.user.last_name }}</td>
                                    <td>{{ ticket.valid_until|date:"Y-m-d\\TH:i:s" }}</td>
                                    <td class="timer"
                                        data-valid-until="{{ ticket.valid_until|date:"Y-m-d\\TH:i:s" }}"></td>
                                    <td>{{ ticket.summary_ticket_entrances }}</td>
                                    <td>{{ ticket.price }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#ticketsTable').DataTable(
                {
                    "scrollCollapse": true,
                    "scrollY": '800px',
                }
            );

            function updateTimers() {
                $('.timer').each(function () {
                    const validUntil = new Date($(this).data('valid-until'));
                    if (isNaN(validUntil)) {
                        $(this).text("Invalid Date");
                        return;
                    }
                    const timeRemaining = validUntil - new Date();

                    if (timeRemaining > 0) {
                        $(this).text(Math.floor(timeRemaining / (1000 * 60 * 60 * 24)) + "d " + Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + "h " + Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60)) + "m " + Math.floor((timeRemaining % (1000 * 60)) / 1000) + "s");
                    } else {
                        $(this).text("Expired");
                    }
                });
            }

            $('#checkTicketBtn').click(function () {
                const ticketCode = $('#checkTicketCode').val().trim();

                if (!ticketCode) {
                    alert("Please enter a ticket code.");
                    return;
                }

                $.ajax({
                    url: "{% url 'validate_gym_ticket' gym_id=gym_id %}",
                    method: 'POST',
                    data: {
                        code: ticketCode,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        $('#responseModalBody').text(response.text_response);
                        $('#responseModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        $('#responseModalBody').text('An error occurred: ' + xhr.responseText);
                        $('#responseModal').modal('show');
                    }
                });
            });

            setInterval(updateTimers, 1000);
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ticket_typeSelect = document.getElementById('ticket_type');
            const durationSelect = document.getElementById('duration');
            const total_priceInput = document.getElementById('total_price');

            function calculatetotal_price() {
                const selectedOption = ticket_typeSelect.options[ticket_typeSelect.selectedIndex];
                const ticketPrice = parseFloat(selectedOption.getAttribute('data-price'));
                const duration = parseInt(durationSelect.value);
                const total_price = ticketPrice * duration;
                total_priceInput.value = total_price.toFixed(2);
            }

            ticket_typeSelect.addEventListener('change', calculatetotal_price);
            durationSelect.addEventListener('change', calculatetotal_price);

            calculatetotal_price();
        });
    </script>
{% endblock content %}