{% for response in responses %}
    <div class="ml-4 mt-3 card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h6 class="mb-2 {% if response.user == request.user %} font-weight-bold text-success {% endif %}">
                    {% if gym.base_company == response.user.adminpanelprofile.base_company or  gym.base_company == response.user.employeeprofile.base_company %}
                        {{ response.user.username }} (GYM EMPLOYEE)
                    {% else %}
                        {{ response.user.username }}
                    {% endif %}
                </h6>
                <p class="card-text"><small class="text-muted">{{ response.created_at }}</small></p>
            </div>
            <p class="card-text">{{ response.comment }}</p>

            {% if response.user == request.user %}
                <form method="post" action="{% url 'delete_response' gym_id=gym.id response_id=response.id %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            {% endif %}

            <form method="post"
                  action="{% url 'create_response_with_parent' gym_id=gym.id rating_id=rating.id parent_id=response.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" rows="1" name="comment" placeholder="Write a response"></textarea>
                </div>
                <button type="submit" class="btn btn-secondary btn-sm">Respond</button>
            </form>

            {% include "crm/gyms/gym_opinion_responses.html" with responses=response.responses.all parent_id=response.id %}
        </div>
    </div>
{% endfor %}