{% extends 'includes/struct.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-lg-8">
                <h3>Gym opinions: {{ gym.name }}</h3>
            </div>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col-lg-8">
                <h5>Average rating: {{ gym.average_rating }}/5</h5>
                <h5>Number of opinions: {{ gym.ratings.count }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="max-height: 900px; overflow-y: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Ratings:</h5>
                        {% for rating in ratings %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="card-subtitle mb-2 text-muted">{{ rating.user.username }}
                                            - {{ rating.score }}/5</h6>
                                        <p class="card-text"><small class="text-muted">{{ rating.created_at }}</small>
                                        </p>
                                    </div>
                                    <p class="card-text">{{ rating.comment }}</p>

                                    <form method="post" action="{% url 'create_response' gym_id=gym.id rating_id=rating.id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <textarea class="form-control" rows="1" name="comment"
                                                      placeholder="Write a response"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-secondary btn-sm mt-4">Respond</button>
                                    </form>

                                    {% include "crm/gyms/gym_opinion_responses.html" with responses=rating.responses.all parent_id=rating.id gym=gym %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}